body{
    text-align: center;
    margin: 0%;
    padding: 0%;
    height: fit-content;

}

.courses{
    background-color: bisque;
    display: flex;
    flex-direction: row;
    padding: 5%;
    flex-basis: 20px;
    flex-wrap: wrap;
    flex-flow: row;
   
}
.science{
    background-color: black;
    margin-right: 2%;
    color:white;
    text-align: left;
    padding: 1%;
}
.tech{
    background-color: black;
    margin-right: 2%;
    color:white;
    text-align: left;
    padding: 1%;
}
.com{
    background-color: black;
    margin-right: 2%;
    color:white;
    text-align: left;
    padding: 1%;
}
.AH{
    background-color: black;
    margin-right: 2%;
    color:white;
    text-align: left;
    padding: 1%;
}
.geo{
    background-color: black;
    margin-right: 2%;
    color:white;
    text-align: left;
    padding: 1%;
}
.nav-link{
    padding: 2%;
    margin-right: 6px;
}
.brand{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}