body{
    text-align: center;
    justify-content: center;
}
.learn{
    display: grid;
    grid-template-areas: 
    'a b';
}
.a{
    grid-area: a;
    text-align: center;
    padding: 100px;
    margin-right: 0px;
    margin-left: 70px;
    padding-right: 10px;
    margin-top: 50px;
}
.b{
    grid-area: b;  
    text-align: left;
    margin-right: 70px;
    padding-right: 70px; 
    padding-top: 10px;
    padding-left: 30px;
    margin-left: opx;
}
img{
    max-width: 400px;
    height: auto;
}
button{
    margin-top: 7%;
    border-radius: 20%;
    background-color: rgb(56, 56, 202);
    color: white;
    padding: 3%;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}
button:hover{
    color:red;
    transition: 0.2s;
    cursor: pointer;
}
h1{
    margin: 0%;
    padding: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.other{
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
}
#star{
    max-width: 30px;
}